<div style="margin-top:100px; margin-bottom:100px; padding:20px;" class="container-fluid col-xs-12">
    <h3>Patient's Form</h3>
    <div class="accordion" id="patientDetails">
        <div class="card">
            <div class="card-header" id="patientRegistrationDetailLabel">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#patientRegistrationDetail"
                        aria-expanded="true" aria-controls="patientRegistrationDetail">
                        Registration Details
                    </button>
                </h2>
            </div>
            <div id="patientRegistrationDetail" class="collapse" aria-labelledby="patientRegistrationDetailLabel"
                data-parent="#patientDetails">
                <div class=" row card-body">
                    <div class="col-sm-12">
                        Date: {{{patientDetail.date}}}
                    </div>
                    <div class="col-sm-12">
                        Place: {{{patientDetail.place}}}
                    </div>
                    <div class="col-sm-12">
                        Registration Number: {{{patientDetail.regNumber}}}
                    </div>
                    <div class="col-sm-12">
                        BOCW ID Number: {{{patientDetail.BOCW_ID_Number}}}
                    </div>
                </div>
            </div>

            <div class="card-header" id="patientPersonalDetailLabel">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#patientPersonalDetail"
                        aria-expanded="true" aria-controls="patientPersonalDetail">
                        Personal Details
                    </button>
                </h2>
            </div>
            <div id="patientPersonalDetail" class="collapse" aria-labelledby="patientPersonalDetailLabel"
                data-parent="#patientDetails">
                <div class=" row card-body">
                    <div class="col-sm-12">
                        Name of Beneficiary: {{{patientDetail.name}}}
                    </div>
                    <div class="col-sm-12">
                        Aadhar Number: {{{patientDetail.aadharNumber}}}
                    </div>
                    <div class="col-sm-6">
                        Date of Birth: {{{patientDetail.dob}}}
                    </div>
                    <div class="col-sm-6">
                        Age: {{{patientDetail.age}}}
                    </div>
                    <div class="col-sm-6">
                        Weight: {{{patientDetail.weight}}}
                    </div>
                    <div class="col-sm-6">
                        Sex: {{{patientDetail.sex}}}
                    </div>
                </div>
            </div>

            <div class="card-header" id="patientContactDetailLabel">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#patientContactDetail"
                        aria-expanded="true" aria-controls="patientContactDetail">
                        Contact Details
                    </button>
                </h2>
            </div>
            <div id="patientContactDetail" class="collapse" aria-labelledby="patientContactDetailLabel"
                data-parent="#patientDetails">
                <div class=" row card-body">
                    <div class="col-sm-12">
                        Address: {{{patientDetail.address.address}}}
                    </div>
                    <div class="col-sm-6">
                        District: {{{patientDetail.address.district}}}
                    </div>
                    <div class="col-sm-6">
                        State: {{{patientDetail.address.state}}}
                    </div>
                    <div class="col-sm-6">
                        Country: {{{patientDetail.address.country}}}
                    </div>
                    <div class="col-sm-6">
                        Pincode: {{{patientDetail.address.pincode}}}
                    </div>
                    <div class="col-sm-12">
                        Mobile Number: {{{patientDetail.mobileNumber}}}
                    </div>
                </div>
            </div>

            <div class="card-header" id="patientOccupationDetailLabel">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#patientOccupationDetail"
                        aria-expanded="true" aria-controls="patientOccupationDetail">
                        Occupation Details
                    </button>
                </h2>
            </div>
            <div id="patientOccupationDetail" class="collapse" aria-labelledby="patientOccupationDetailLabel"
                data-parent="#patientDetails">
                <div class=" row card-body">
                    <div class="col-sm-12">
                        Present Occupation: {{{patientDetail.presentOccupation}}}
                    </div>
                    <div class="col-sm-12">
                        Duratoin of Exposure:<br>
                        Building & Construction: {{{details.occupationHistory.construction.value}}}<br>
                        Mines: {{{details.occupationHistory.construction.value}}}<br>
                        {{{details.occupationHistory.other.occupation}}}: {{{details.occupationHistory.other.value}}}
                    </div>
                </div>
            </div>

            <div class="card-header" id="patientMedicalDetailLabel">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#patientMedicalDetail"
                        aria-expanded="true" aria-controls="patientMedicalDetail">
                        Medical Details
                    </button>
                </h2>
            </div>
            <div id="patientMedicalDetail" class="collapse" aria-labelledby="patientMedicalDetailLabel"
                data-parent="#patientDetails">
                <div class=" row card-body">
                    <div class="col-sm-12">
                        History of Smoking: {{{patientDetail.historyOfSmoking}}}
                    </div>
                    <div class="col-sm-12">
                        Total Duration of Suffering: {{{patientDetail.duration_suffer}}}
                    </div>
                    <div class="col-sm-12">
                        Chief Complaints: {{{patientDetail.chiefComplaints}}}
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-link" type="button">
                            Download {{{patientDetail.chiefComplaints}}}
                        </button>
                        <button class="btn btn-link" type="button">
                            Download {{{patientDetail.chiefComplaints}}}
                        </button>
                        <button class="btn btn-link" type="button">
                            Download {{{patientDetail.chiefComplaints}}}
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>